ShipModelManagement/Library/
ShipModelManagement/obj/
ShipModelManagement/Assembly-CSharp.csproj
ShipModelManagement/Assembly-CSharp-Editor.csproj
ShipModelManagement/ShipModelManagement.sln
ShipModelManagement/.vs/
ShipModelManagement/Logs/
ShipModelManagement/Temp/bin/Debug/System.Drawing.dll
ShipModelManagement/Temp/
ShipModelManagement/pc/
ShipModelManagement/Assets/Pack  Of Battel ships/
ShipModelManagement/Assets/Sovremenny 956/
ShipModelManagement/Assets/Sovremenny 956.meta
ShipModelManagement/Assets/Pack  Of Battel ships.meta
ShipModelManagement/Assets/StreamingAssets/Word/实时计算机图形学（第2版）.pdf.meta
ShipModelManagement/Assets/StreamingAssets/Word/实时计算机图形学（第2版）.pdf
ShipModelManagement/Assets/StreamingAssets/Word/战列舰
ShipModelManagement/Assets/StreamingAssets/Word/战列2.docx.meta
ShipModelManagement/Assets/StreamingAssets/Word/战列2.docx
ShipModelManagement/Assets/StreamingAssets/Word/工作簿1.meta
ShipModelManagement/Assets/StreamingAssets/Word/工作簿1
ShipModelManagement/Assets/StreamingAssets/Word/潜艇.docx.meta
ShipModelManagement/Assets/StreamingAssets/Word/潜艇.docx
ShipModelManagement/Assets/StreamingAssets/Word/战列舰.meta
ShipModelManagement/Assets/StreamingAssets/model/submarine_01.FBX
ShipModelManagement/Assets/StreamingAssets/model/b6.FBX.meta
ShipModelManagement/Assets/StreamingAssets/model/b6.FBX
ShipModelManagement/Assets/StreamingAssets/model/b4.FBX.meta
ShipModelManagement/Assets/StreamingAssets/model/submarine_02.FBX.meta
ShipModelManagement/Assets/StreamingAssets/model/submarine_02.FBX
ShipModelManagement/Assets/StreamingAssets/model/submarine_01.FBX.meta
ShipModelManagement/Assets/StreamingAssets/model/b4.FBX
