ShipModelManagement/Library/
ShipModelManagement/obj/
ShipModelManagement/Assembly-CSharp.csproj
ShipModelManagement/Assembly-CSharp-Editor.csproj
ShipModelManagement/ShipModelManagement.sln
ShipModelManagement/.vs/
ShipModelManagement/Logs/
ShipModelManagement/Temp/bin/Debug/System.Drawing.dll
ShipModelManagement/Temp/
